<meta charset="utf-8" />
<a ui-sref="newProduto" class="btn-primary btn-lg nodecoration">Novo produto</a>
<a ui-sref="newGrupo" class="btn-primary btn-lg nodecoration">Novo grupo</a>
<table border="0" class="table produtotable" ng-repeat="grupo in grupos track by $index" >
	<tr>
		<td colspan="5"><h4>{{grupo.nome}}</h4></td>
	</tr>
	<tr >
		<td></td>
		<td>Nome</td>
		<td>Quantidade</td>
		<td >Valor</td>	
		<td ></td>
	</tr>
	<tr ng-repeat="prod in produtos" ng-if="grupo.id == prod.grupo.id"  >
		<td><input class="checkbox" type="checkbox" ng-model="prod.marcado" ng-change="markProduto(prod)"></td>
		<td>{{prod.nome}}</td>
		<td >{{prod.quantidade}}</td>
		<td>{{prod.valor}}</td>
		<td>
			<a class="btn btn-primary btn-sm" ui-sref="viewProduto({id:prod.id})">Visualiza</a> 
			<a class="btn btn-danger btn-sm" ng-click="deleteProduto(prod)">Remove</a>
		</td>
	</tr>
	<tr >
		<td colspan="2"><td>
		<td >Total: {{getTotal(grupo.id)}}<td>
	</tr>
</table>